/* Put your CSS here */
html, body {
    margin: 20px;
}

.case-row{
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 15px 15px;
    margin-left: 0px !important;
}

.case-base{
    border-bottom: 1px solid gray;;
}

.case-square{
    border: 5px solid #444444;
    border-radius: 10px;
    margin: 0 0 15px;
}

.case-square-footer{
    border: solid #444444;
    background-color: #444444;
}

.circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: #444444;
    margin: 10px 35px 10px;
}

.inner-circle{
    padding: 50px;
    color: #fffafa;
    text-align: center;
}

.inner-square{
    border-right: 1px solid #fffafa;
    color: #fffafa;
}

.img-user{
    background-image: url('../img/user.png');
}

.tree-area{
    background-color: #d3d3d3;
    border-radius: 10px;
    margin-top: 10px;
}

.border-right{
    border-right: 1px solid #808080;
}

.border-top{
    border-top: 1px solid #808080;
    margin-left: 0px !important;
    margin-top: 5px;
}

.notice-panel{
    border: 1px solid #808080;
    margin-left: 0px !important;
}

.notices{
    border-bottom: 1px solid #808080;
    margin-left: 0px !important;
    padding-top: 10px;
}

.icon-file-custom{
    margin: 20px;
}

.transaction-header{
    border-bottom: 1px solid #808080;
}