/* Put your CSS here */
html, body {
    margin: 20px;
}

.case-row{
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 15px 15px;
}

.case-base{
    border-bottom: 1px solid gray;;
}

.case-square{
    border: 5px solid #444444;
    border-radius: 10px;
    margin: 0 0 15px;
}

.case-square-footer{
    border: solid #444444;
    background-color: #444444;
}

.circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: #444444;
    margin: 10px 35px 10px;
}

.inner-circle{
    padding: 50px;
    color: #fffafa;
    text-align: center;
}

.inner-square{
    border-right: 1px solid #fffafa;
    color: #fffafa;
}

.img-user{
    background-image: url('../images/user.png');
}